{% extends "general/base.html" %}
{% load static %}

{% block extra_headers %}
<link type="text/css" rel='stylesheet' href="{% static 'general/css/general.css' %}" />
<script src="{% static 'general/js/general.js' %}"></script>
{% endblock %}

{% block content %}
<resume>
  <header>
    <div class='section' id='contact'></div>
  </header>
  <div class="one-col">
    <section>
      <h2>EXPERIENCE</h2>
      <div class='section' id='experiences'></div>
    </section>
    <h2>EDUCATION</h2>
    <div class='two-col' id='education'></div>
    <div class='two-col'>      
      <section>
        <h2>PROJECTS</h2>
        <div class='section' id='projects'></div>
      </section>
      <section>
        <h2>SKILLS</h2>
        <div class='section' id='skills'></div>
      </section>
    </div>
  </div>
</resume>
{% endblock %}
