{% extends "general/base.html" %}
{% load static %}

{% block extra_headers %}
<link type="text/css" rel='stylesheet' href="{% static 'general/css/general.css' %}" />
<script src="{% static 'general/js/general.js' %}"></script>
{% endblock %}

{% block content %}
{% include 'general/loader.html' %}
<resume style='display:none'>
  <header>
    <div class='section' id='contact'></div>
  </header>
  <div class="one-col">
    <section>
      <h2 class='experiences title'>EXPERIENCE</h2>
      <h2 class='experiences api-link'>
        <a href='https://danielbsokol.engineer/api/experiences' target='_blank'>https://danielbsokol.engineer/api/experiences</a>
      </h2>
      <div class='section' id='experiences'></div>
    </section>
    <h2 class='education title'>EDUCATION</h2>
    <h2 class='education api-link'>
      <a href='https://danielbsokol.engineer/api/education' target='_blank'>https://danielbsokol.engineer/api/education</a>
    </h2>
    <div class='two-col' id='education'></div>
    <div class='two-col' id='projects-skills'>      
      <section>
        <h2 class='projects title'>PROJECTS</h2>
        <h2 class='projects api-link'>
          <a href='https://danielbsokol.engineer/api/projects' target='_blank'>https://danielbsokol.engineer/api/projects</a>
        </h2>
        <div class='section' id='projects'></div>
      </section>
      <section>
        <h2 class='skills title'>SKILLS</h2>
        <h2 class='skills api-link'>
          <a href='https://danielbsokol.engineer/api/skills' target='_blank'>https://danielbsokol.engineer/api/skills</a>
        </h2>
        <div class='section' id='skills'></div>
      </section>
    </div>
  </div>
</resume>
{% endblock %}
